:root {
    --section-height: calc(98vh - 40px); /* 40px - высота навигационного меню */
}
#home {
    --section-height: calc(105vh - 40px); /* новая высота для специальной секции */
}
#mayak {
    --section-height: calc(110vh - 40px); /* новая высота для специальной секции */
}
#end {
    --section-height: calc(20vh - 40px); /* новая высота для специальной секции */
}

section {
    height: var(--section-height);
    /*text-align: left;
    display: flex;
    justify-content: left;
    align-items: left;
    font-size: 24px; */
}

#home {
    background-color: rgb(255, 255, 255);
}

#mayak {
    background-color: #575050;
}

#map {
    background-color: #ffffff;
}

#team {
    background-color: #cccccc;
}


section {
    position: relative; /* Необходимо для позиционирования изображения */
}

#may1 {
    position: absolute;
    top: 23%; /* Расстояние от верхнего края секции */
    right: 10%; /* Расстояние от правого края секции */
    width: 30%; /* Ширина картинки */
    height: auto; /* Автоматическое масштабирование высоты */
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #3B82F6; /* Цвет фона меню */
    color: white; /* Цвет текста */
    z-index: 1000; /* Поднимаем навигацию над остальными элементами */
}

#down {
    position: absolute;
    bottom: 10px; /* Расстояние от нижнего края секции */
    left: 0;
    right: 0;
    margin: 0 auto; /* Центрирование по горизонтали */
    width: 40px;
    transition: opacity 0.3s ease-in-out; /* Добавляем анимацию для свойства opacity */

}

@keyframes moveRightToLeft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.moving-text {
    position: absolute;
    animation: moveRightToLeft 10s linear infinite;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.5); /* Цвет текста */
    width: 100%; /* Ширина текста занимает всю ширину контейнера */
    height: 100%; /* Высота текста занимает всю высоту контейнера */
    top: 0; /* Располагаем текст вверху контейнера */
    left: 0; /* Располагаем текст в левом углу контейнера */
    display: flex; /* Используем flex для выравнивания по центру */
    justify-content: flex-start; /* Выравнивание по левому краю */
    align-items: center; /* Выравнивание по вертикали */
}
iframe.noScrolling{
    width: 100%; /*or any other size*/
    height: 100%; /*or any other size*/
    overflow: hidden;
  }